<ons-toolbar class="toolbar">
  <div class="left">
    <ons-toolbar-button ng-hide="hideMenu" class="menu-button" ng-click="slidingMenu.open()">
      <ons-icon icon="ion-android-menu" style=" color: white; font-size: 34px; width: 1em;"></ons-icon>
    </ons-toolbar-button>           
    <ons-button class="backbutton"  modifier="light" ng-click="pageNavigator.popPage()" style="border: none;">
        <ons-icon class="back-button" icon="ion-chevron-left" style="color: white;"></ons-icon>
    </ons-button>
  </div>
  <div class="center">
    {{titulo}}
  </div>
</ons-toolbar>
