<ons-page class="page-menu" ng-controller="menuController">
    <ons-toolbar class="toolbar-menu">
        <div class="left">
            <ons-toolbar-button ng-click="slidingMenu.closeMenu()">         
                <ons-icon icon="ion-close" style="color: white; font-size: 22px; width: 1em;"></ons-icon>               
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list class="list">
            <ons-list-item class="list-item list-item-menu">
                MenuItem
            </ons-list-item>    
    </ons-list>
</ons-page>
